.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
	font-family: 'Barlow Semi Condensed', sans-serif;
	background-color: hsl(210, 46%, 95%)
	
}

.grid-container {
	margin-top: 60px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-middle-container{
    display: flex;
    flex-direction: column;
}

.grid {
	width: 20.625rem;
	border-radius: 8px;
	margin-bottom: 20px;
}
p{
	font-size: 0.8rem;
	color: hsl(0, 0%, 81%);
}

.grid1 {
	background-color: hsl(263, 55%, 52%);
	color: hsl(0, 0%, 100%);
} 

.grid2 {
	background-color: hsl(217, 19%, 35%);
	color: hsl(210, 46%, 95%)
} 

.grid3 {
	background-color: hsl(0, 0%, 100%);
	color: hsl(217, 19%, 35%);
	font-weight: bold;
} 


.grid4 {
	background-color: hsl(219, 29%, 14%);
	color: hsl(210, 46%, 95%);
} 
.grid5 {
	background-color: hsl(0, 0%, 100%);
	color: hsl(217, 19%, 35%);
} 

img{
	width: 1.9rem;
	height: 1.9rem;
	border: 0.1rem solid White;
}

.div-img-h3{
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
}

.h3-span h3{
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
	hsl(210, 46%, 95%);
	font-weight: 400;
}
.h3-span span{
	margin-top: 0.2rem;
	font-size: 0.76rem;
	color: hsl(0, 0%, 81%);
}

img{
	border-radius: 2rem;
}

h2{
	font-size: 1.33rem;
	hsl(210, 46%, 95%);
	font-weight: 500;
}

.space-div{
	margin: 1.6rem;
}

