.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
	font-family: 'Barlow Semi Condensed', sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 15px;
	margin: 0 auto;
}

.grid-middle-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	justify-items: center;
}

.grid {
	border: solid 1px black;
	border-radius: 20px
}

.grid1 {
	width: 46vw;
	background-color: hsl(263, 55%, 52%);
	color: hsl(0, 0%, 100%);
	
} 

.grid2 {
	width: 23vw;
	background-color: hsl(217, 19%, 35%);
	color: hsl(210, 46%, 95%)
} 

.grid3 {
	width: 23vw;
	background-color: hsl(0, 0%, 100%);
	margin-left: -23vw;

} 
.grid4 {
	width: 46vw;
	background-color: hsl(219, 29%, 14%);
	color: hsl(210, 46%, 95%);
	margin-left: -23vw;
} 
.grid5 {
	width: 23vw;
	background-color: hsl(0, 0%, 100%);
} 