.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
	font-family: 'Barlow Semi Condensed', sans-serif;
	background-color: hsl(210, 46%, 95%)
	
}

.grid-container {
	margin-top: 3.75rem;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
	border-radius: 0.5rem;
	margin-bottom: 1.25rem;
}
p{
	font-size: 0.9rem;
	color: hsl(0, 0%, 81%);
}

.grid1 {
	background-color: hsl(263, 55%, 52%);
	color: hsl(0, 0%, 100%);
} 

.grid2 {
	background-color: hsl(217, 19%, 35%);
	color: hsl(210, 46%, 95%)
} 

.grid3 {
	background-color: hsl(0, 0%, 100%);
	color: hsl(217, 19%, 35%);
} 

.grid4 {
	background-color: hsl(219, 29%, 14%);
	color: hsl(210, 46%, 95%);
} 
.grid5 {
	background-color: hsl(0, 0%, 100%);
	color: hsl(217, 19%, 35%);
} 

img{
	width: 1.9rem;
	height: 1.9rem;
	border: 0.1rem solid White;
}

.div-img-h3{
	display: flex;
	align-items: center;
}

.h3-span{
	margin-left: 1.2rem;
}

.h3-span h3{
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
	font-weight: 400;
}

.h3-span span{
	margin-top: 0.2rem;
	font-size: 0.76rem;
	color: hsl(0, 0%, 81%);
}

img{
	border-radius: 2rem;
}

h2{
	font-size: 1.33rem;
	font-weight: 500;
}

.space-div{
	margin: 1.6rem;
}

.border-roxa{
	border-color: rgb(157, 118, 218);

}

@media (min-width: 600px)
{

.grid1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 100%;
} 

.grid2 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 100%;
} 

.grid3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	height: 100%;
} 

.grid4 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	height: 100%;
} 

.grid5 {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
	height: 100%;
}

.grid-container {
	display: grid;
	column-gap: 1.25rem;
	row-gap: 1.25rem;
	grid-template-columns: repeat(4, 1fr);  
}

}